section.logoPrincipal{
	background-image: url("../img/hero-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: size;
	padding-top: 25%;
	height: 750px;

}

section.logoPrincipal h1{
	font-family: proximanova-regular;
	text-align: center;
	color: #F6F6F6;
	padding: 35% 10% 3% 10%;
	position: absolute;
	top: 1;
	left: 10%;
	font-size: 40px;
	margin-top: 15%;
}

section.logoPrincipal img{
	margin-top: 75%;
	margin-left: 45%;
}
@media (min-width:768px){
	section.logoPrincipal{
		width: 100%;
		height: 1200px;

	}
	section.logoPrincipal h1{
		margin-top: 23px;
	}
	section.logoPrincipal img{
		margin-top: 235px;

	}
}